.reset-password-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
  }
  
  .reset-password-logo img {
    max-width: 150px;
  }
  
  .reset-text {
    text-align: center;
  }
  .list {
    margin-bottom: 0;
  }