<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
        <ion-title>{{noteDesc}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header class="centerText">
            <h3>List Items</h3>
        </ion-card-header>
        <ion-card-content>
            <ion-list *ngFor="let i of items">
                <my-notes-item [id]=i.ID [desc]=i.Desc [listId]=listId></my-notes-item>                
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-card>
    <ion-card-header class="centerText" (click)='toggleShowAdd()'>
        <ng-container  *ngIf=!showAdd>
            Show Add New Item
        </ng-container>
        <ng-container  *ngIf=showAdd>
            Hide Add New Item
        </ng-container> 

    </ion-card-header>
    <ion-card-content *ngIf=showAdd>
        <my-notes-add-item [id]='' [desc]='' [listId]=listId></my-notes-add-item>
    </ion-card-content>
</ion-card>

